# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env.*

# Environment & secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.db
*.sqlite3

# Docker
*.tar

# IDEs
.vscode/
.idea/
